/* Fondo general */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sesion-page {
  min-height: 100vh;
  background: url("../src/img/ChatGPT Image 18 sept 2025, 10_39_02 a.m..png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
}

/* --- NAVBAR GENERAL --- */
.navbarlogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 450px;
  background: rgba(107, 44, 113, 0.575); /* semitransparente para que se vea sobre la imagen */
  position: sticky;
  top: 0;
  border-radius: 12px;
  margin: 0px;
  backdrop-filter: blur(8px); /* efecto difuminado detrás del navbar */
}

/* Logo */
.logo {
  height: 70px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px; 
  position: relative;
}

/* Links */
.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 15px;
  transition: background 0.3s;
  cursor: pointer;
  background: #d26cd2;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 400px;
}

.nav-link:hover {
  background: #b84cb8;
}

/* --- FORMULARIOS --- */
.form-container {
  background: rgba(200, 0, 150, 0.384);
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 5px;
}

.form-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: pink;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px #00000055;
}

/* Inputs */
.form-container input {
  padding: 8px;
  border-radius: 15px;
  border: none;
  text-align: center;
  background: #d26cd2;
  color: white;
}

.form-container input::placeholder {
  color: #eee;
}

/* Botón */
.form-container button {
  background: #d26cd2;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.form-container button:hover {
  background: #b84cb8;
}


